<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Choosed Options</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let subscriber of subscribers'>
      <th scope="row">{{subscriber.id}}</th>
      <td>{{subscriber.name}}</td>
      <td>{{subscriber.email}}</td>
      <td>{{subscriber.getOptionsAsString()}}</td>
      <td>
        <!--<button type="button" class="btn btn-success btn-sm" (click)="toggleEdit(subscriber)">Edit</button>-->
        <button type="button" class="btn btn-danger btn-sm" (click)="delete(subscriber)">Delete</button>
      </td>
      {{ value }}
    </tr>
    </tbody>
  </table>
</div>
