<div class="row">
  <form (ngSubmit)="save()" #subscriberOptionForm="ngForm" class="form-inline">
    <div class="form-group mx-sm-3">
      <label for="subcriberOptionName">Subscriber Option Name</label>
      <input type="text" class="form-control form-control-sm" id="subcriberOptionName" required [(ngModel)]="subscriberOptionModel.name" name="name" #name="ngModel" placeholder="Enter name">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!subscriberOptionForm.form.valid">Submit</button>
  </form>
</div>
<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Option Name</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let subscriberOption of subscriberOptions'>
      <th scope="row">{{subscriberOption.id}}</th>
      <td>{{subscriberOption.name}}</td>
      <td>
        <button type="button" class="btn btn-success btn-sm" (click)="toggleEdit(subscriberOption)">Edit</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="delete(subscriberOption)">Delete</button>
      </td>
      {{ value }}
    </tr>
    </tbody>
  </table>
</div>
