<div class="card text-center col-md-auto">
  <div class="card-header">
    Subscribe!
  </div>
  <div class="card-block">
    <h4 class="card-title">Subscribe to our services</h4>
    <form (ngSubmit)="add()" #subscriberForm="ngForm">
      <div class="form-group mx-sm-3 col-3">
        <div class="row">
          <label for="subscriberOptionName">Name</label>
          <input type="text" class="form-control form-control-sm" id="subscriberOptionName" required
                 [(ngModel)]="subscriberModel.name" name="name" #name="ngModel" placeholder="Enter name">
        </div>
        <div class="row">
          <label for="subscriberOptionEmail">Email</label>
          <input type="email" class="form-control form-control-sm" id="subscriberOptionEmail" required
                 [(ngModel)]="subscriberModel.email" name="mail" #email="ngModel" placeholder="Enter email">
        </div>
        <div *ngFor='let subscriberOption of subscriberOptions' class="row form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="subscriberOptions" id="subscriberOptions" value="{{subscriberOption.id}}" [(ngModel)]="subscriberOption.checked">
            {{subscriberOption.name}}
          </label>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary" [disabled]="!subscriberForm.form.valid">Subscribe</button>
        </div>
      </div>

    </form>
  </div>

</div>
